<h1>Demo</h1>

<form #form="ngForm" (ngSubmit)="submit(form.value)">
  <p>
    <input
      required
      name="name"
      ngModel
      #nameCtrl="ngModel"
      [ngClass]="{
        'is-invalid': nameCtrl.touched && nameCtrl.invalid
      }"
    />

    @if (nameCtrl.touched && nameCtrl.invalid) {
      <span style="color: red"><br />{{ nameCtrl.errors | json }}</span>
    }
  </p>

  <p>
    <input name="email" ngModel />
  </p>

  <button [disabled]="form.invalid">Submit</button>
</form>


<pre>Form is valid ? {{ form.valid }}</pre>

<pre>{{ form.value | json }}</pre>
